<div class="b-example-divider"></div>
<!-- <div class="container">
    <footer class="row py-5 my-5 border-top">

        <div class="col mb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                <img class="bi me-2" width="175" height="75" src="../../assets/Logo/HitchcockHardScapes.avif"
                    alt="footerImg">
            </a>
            <p class="text-body-secondary">© 2024</p>
        </div>

        <div class="col mb-3">
            <h5>Contact</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">hitchcockshardscapes&#64;gmail.com</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">845-709-3009</a></li>
            </ul>
        </div>

       

    </footer>
</div> -->

<!-- <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="m-auto col-md-4 d-flex align-items-center">

        <img class="logo bi me-2" width="175" height="150"
                    alt="footerImg">
        
      </div>

      <p>49 Lafayette Rd. Hampton falls, NH</p>
      <p>14 Sagamore Rd. Rye, NH</p>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <a class="" target="_blank" href="https://www.facebook.com/RyeAutoDetailing"><i class="socials bi bi-facebook social-logos"></i></a><p class="m-auto">RyeAutoDetailing</p>
        <a class="" target="_blank" href="https://www.facebook.com/profile.php?id=61555329823614"><i class="socials bi bi-facebook social-logos"></i></a><p class="m-auto">RyeBoatAndAutoDetailing</p>
      </ul>
    </footer>
  </div> -->



  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="m-auto col-md-4 d-flex align-items-center justify-content-center">
            <img class="logo bi me-2" width="175" height="150" alt="footerImg">
        </div>

        <div class="address-container col-md-4 d-flex justify-content-center align-items-center">
            <p>49 Lafayette Rd. Hampton falls, NH</p>
            <span class="pipe-separator mx-2">|</span>
            <p>14 Sagamore Rd. Rye, NH</p>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="d-flex align-items-center">
                <a class="social-link" target="_blank" href="https://g.co/kgs/3a9pNYr">
                    <i class="socials fa-brands fa-google"></i>
                </a>
            </li>
            <li class="d-flex align-items-center">
                <a class="social-link" target="_blank" href="https://www.facebook.com/RyeAutoDetailing">
                    <i class="socials bi bi-facebook social-logos"></i>
                </a>
                <!-- <p class="m-auto">RyeAutoDetailing</p> -->
            </li>
            <li class="d-flex align-items-center">
                <a class="social-link" target="_blank" href="https://www.facebook.com/profile.php?id=61555329823614">
                    <i class="socials bi bi-facebook social-logos"></i>
                </a>
                <!-- <p class="m-auto">RyeBoatAndAutoDetailing</p> -->
            </li>
            
        </ul>
    </footer>
</div>
