<div class="b-example-divider"></div>
<!-- <div class="container">
    <footer class="row py-5 my-5 border-top">

        <div class="col mb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                <img class="bi me-2" width="175" height="75" src="../../assets/Logo/HitchcockHardScapes.avif"
                    alt="footerImg">
            </a>
            <p class="text-body-secondary">© 2024</p>
        </div>

        <div class="col mb-3">
            <h5>Contact</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">hitchcockshardscapes&#64;gmail.com</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">845-709-3009</a></li>
            </ul>
        </div>

       

    </footer>
</div> -->

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <img class="bi me-2" width="175" height="75" src="../../assets/Logo/HitchcockHardScapes.avif"
                    alt="footerImg">
        
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <a class="" href="#"><i class="socials bi bi-instagram social-logos"></i></a>
        <a class="" href="#"><i class="socials bi bi-facebook social-logos"></i></a>
      </ul>
    </footer>
  </div>