<!-- START THE FEATURETTES
<div>
  <h1 id="heading" class="text-center p-5">Our Services</h1>
</div> -->
<!-- <div class="b-example-divider"></div> -->
<div class="background">
  <main>
    <div class="container">
      <!-- <div class="image-container">
        <img class="" src="../../assets/IMG_6645.JPG" alt="color photo" />
      </div> -->
      <div class="image-container">
        <img class="image-before slider-image" alt="color photo" />
        <img class="image-after slider-image" alt="black and white" />
      </div>

      <input type="range" min="0" max="100" value="50" aria-label="Percentage of before photo shown" class="slider" />
      <div class="slider-line" aria-hidden="true"></div>
      <div class="slider-button" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 256 256">
          <rect width="256" height="256" fill="none"></rect>
          <line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <line x1="96" y1="128" x2="16" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="48 160 16 128 48 96" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="160" y1="128" x2="240" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="208 96 240 128 208 160" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
        </svg>
      </div>
    </div>

    <div class="feature-desc">

      <h2 class="featurette-heading fw-normal lh-1">Full Detailing and Paint Correction</h2>
      <p class="lead">Full Auto Detail and Paint Correction is an essential service for any car enthusiast looking to restore the original allure of their vehicle’s paintwork. Skilled technicians meticulously polish the exterior to remove imperfections, swirl marks, and micro-scratches. This comprehensive process not only improves the car’s appearance but also prepares it for further protective treatments, resulting in a stunning, mirror-like finish.
      </p>
    </div>
  </main>
  <hr class="featurette-divider">
  <main class="main2">
    <div class="container2">
      <div class="image-container2">
        <!-- <img class="image-before2 slider-image2" alt="" alt="color photo" /> -->
        <img class="image-after2 slider-image2" alt="" alt="black and white" />
      </div>

      <!-- <input type="range" min="0" max="100" value="50" aria-label="Percentage of before photo shown" class="slider2" />
      <div class="slider-line2" aria-hidden="true"></div>
      <div class="slider-button2" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 256 256">
          <rect width="256" height="256" fill="none"></rect>
          <line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <line x1="96" y1="128" x2="16" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="48 160 16 128 48 96" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="160" y1="128" x2="240" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="208 96 240 128 208 160" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
        </svg>
      </div> -->
    </div>

    <div class="feature-desc">
      <h2 class="featurette-heading fw-normal lh-1">Gel Coating Boat Restoration</h2>
      <p class="lead">Breathes new life into your vessel by applying a fresh layer of gel coat, which not only enhances the boat's gloss and color depth but also provides a durable barrier against the harsh marine environment. This service ensures long-lasting protection from UV rays, saltwater, and minor abrasions, preserving the integrity and appearance of your boat’s hull.</p>
    </div>
  </main>

  <hr class="featurette-divider">

  <main>
    <div class="container3">
      <div class="image-container3">
        <!-- <img class="image-before3 slider-image3" alt="" alt="color photo" /> -->
        <img class="image-after3 slider-image3" alt="" alt="black and white" />
      </div>

      <!-- <input type="range" min="0" max="100" value="50" aria-label="Percentage of before photo shown" class="slider3" />
      <div class="slider-line3" aria-hidden="true"></div>
      <div class="slider-button3" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 256 256">
          <rect width="256" height="256" fill="none"></rect>
          <line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <line x1="96" y1="128" x2="16" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="48 160 16 128 48 96" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="160" y1="128" x2="240" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="208 96 240 128 208 160" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
        </svg>
      </div> -->
    </div>

    <div class="feature-desc">
      <h2 class="featurette-heading fw-normal lh-1">Ceramic Coating</h2>
      <p class="lead">Offers an advanced layer of protection to your vehicle’s exterior, utilizing nanotechnology to create a clear, hard coating that bonds with the paint. This layer shields against chemical stains, oxidation, and environmental damage while providing a lasting, hydrophobic surface that is easier to clean and maintain. Ideal for preserving both the aesthetic and resale value of your car.</p>
    </div>
  </main>
</div>

<!-- 
<div class="hero-container position-relative">
    <div class="overlay position-absolute top-0 end-0 bottom-0 start-0"></div>
    <div class="container position-relative d-flex justify-content-center align-items-center h-100">
      <h1 class="text-center text-white">Pet Sitting</h1>
    </div>
  </div>
  
<div class="service-container">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Custom jumbotron</h1>
      <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
      <button class="btn btn-primary btn-lg" type="button">Example button</button>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>Change the background</h2>
        <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
        <button class="btn btn-outline-light" type="button">Example button</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Add borders</h2>
        <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
        <button class="btn btn-outline-secondary" type="button">Example button</button>
      </div>
    </div>
  </div>
</div>
  -->