<!-- hero.component.html -->
<div class="hero-container position-relative">
    <div class="overlay position-absolute top-0 end-0 bottom-0 start-0"></div>
    <div class="container position-relative d-flex justify-content-center align-items-center h-100">
      <h1 class="title text-center text-white">What were about</h1>
    </div>
  </div>
  

  <div class="row featurette">
    <div class="text col-md-7">
      <h2 class="featurette-heading fw-normal lh-1"> Located on U.S. Route 1 in Hampton Falls, NH at 49 Lafayette Rd.  <span class="text-body-secondary"></span></h2>
      <p class="lead">Trusted since 2002, Rye Auto Detailing has been providing complete detailing and reconditioning services throughout the New Hampshire seacoast and all of New England.
        <br><br>
        Specializing in ceramic coatings, scratch removal, paint correction, polishing and all season protection and aesthetic solutions for interior and exterior detailing. 
        Our services include automobiles, boats, motorcycles, planes and RV's. Commercial and residential property cleanings too.  
        <br><br>
        We offer vehicle pick up and delivery for home or office, and mobile detailing services are available. Fully insured. We are a certified Ceramic Pro installation shop. Located on U.S. Route 1 in Hampton Falls, NH at 49 Lafayette Rd. 
        <br><br>
        Marinas, dealerships and fleet accounts are welcome! We are open to the public 24/7 by appointment. For immediate assistance call 603-765-6625, text available. Email ryeauto&#64;gmail.com 
        <br><br>
        Locally owned and operated. 
        Protect your investment with us!!!</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="truck-image w-100" src="../../assets/new_pics/ram_truck.jpg" height="500" width="600" alt="">
    </div>
  </div>