<!-- hero.component.html -->
<div class="hero-container position-relative">
    <div class="overlay position-absolute top-0 end-0 bottom-0 start-0"></div>
    <div class="container position-relative d-flex justify-content-center align-items-center h-100">
      <h1 class="title text-center text-white">What were about</h1>
    </div>
  </div>
  

  <div class="row featurette">
    <div class="text col-md-7">
      <h2 class="featurette-heading fw-normal lh-1"> Located on U.S. Route 1 in Hampton Falls, NH at 49 Lafayette Rd.  <span class="text-body-secondary"></span></h2>
      <p class="lead">Welcome to Hampton Auto Detailing, your premier destination for top-tier auto detailing services. Since opening our doors in 2002 in Hampton, NH, we have been committed to delivering exceptional auto detailing that brings out the best in your vehicle. Our team is equipped with the expertise, creativity, and attention to detail required to transform any vehicle into a showroom-ready masterpiece.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="truck-image w-100" src="../../assets/new_pics/ram_truck.jpg" height="500" width="600" alt="">
    </div>
  </div>