<!-- hero.component.html -->
<div class="hero-container position-relative">
    <div class="overlay position-absolute top-0 end-0 bottom-0 start-0"></div>
    <div class="container position-relative d-flex justify-content-center align-items-center h-100">
      <h1 class="text-center text-white">What were about</h1>
    </div>
  </div>
  

  <div class="row featurette">
    <div class="text col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Serving Rockland and the surrounding areas. <span class="text-body-secondary"></span></h2>
      <p class="lead">Welcome to Hitchcock HardScapes, your go-to experts for exceptional hardscape design and construction. Since our inception in 2010 in North Rockland, we've dedicated ourselves to transforming outdoor spaces into stunning, functional havens. Our team brings creativity, craftsmanship, and a keen eye for detail to every project, ensuring your vision comes to life exactly as you imagined.
        
        We specialize in a wide range of services, from elegant patios and garden paths to robust retaining walls, all designed to enhance your outdoor living experience. Our commitment to sustainability means we use eco-friendly materials and practices, prioritizing the health of our planet in every design.
        
        At [Your Company Name], we believe in building more than just landscapes; we create spaces that tell your story and stand the test of time. Thank you for considering us to shape the outdoor space of your dreams.</p>
    </div>
    <div class="image col-md-5 order-md-1">
      <img src="../../assets/gallery/trucks.jpg" alt=""  width="500" height="500">
    </div>
  </div>