#logo {
    height: 100px; /* Adjust height as needed */
    position: absolute;
    bottom: -50px; /* Half of the logo's height to hang off the bottom */
    z-index: 15; /* Higher than the navbar to stay on top of the content below */
    background-image: url('../../assets/Logo/HitchcockHardScapes.avif'); /* Path to your logo image */
    background-size: contain; /* Ensure the logo fits within the dimensions and is not stretched */
    background-repeat: no-repeat;
    background-position: center; /* Center the logo within the element */
}


.logo-container {
    padding-top: 30px;
    /* Adjust this value as needed */
    position: relative; 
}

.contact-btn {
    margin: 10px;
    background-color: #0200fb;
}

.navbar-expand-lg .navbar-nav {
    display: flex;
    width: 100%;
    justify-content: end;
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav {
        justify-content: initial;
        height: fit-content;
    }

    .contact-btn {
        margin-bottom: 25px;
    }
}

.nav-item {
    padding-left: 10px;
}

.nav-link{
    cursor: pointer;
}

nav {
    padding-top: 0;
}

nav.navbar {
    position: relative;
    z-index: 10;
    /* Ensures navbar stays on top */
}

@media (max-width: 991px) {
    #logo {

        /* Adjust for smaller screens */
        
        /* Smaller logo on smaller screens */
    }

    .logo-container {
        padding-top: 30px;
        /* Adjust this value as needed */
    }
}