.contact-container {
    display: flex;
    background-color: #2E2E30;
    /* #a1a1a1  #1e1e1e*/
    width: 100%;
    height: 300px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 1em 1.5em rgba(0, 0, 0, .25), inset 0 0.125em 0.5em rgba(0, 0, 0, .30)
}

#text {
    padding-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #FFFFFF;
}

.btn {
    width: 25%;
    background-color: #0177FB;
    font-weight: bolder;
    font-size: x-large;
    height: 60px;
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;
}

@media (max-width: 1300px) {
    .btn {
        font-size: large;
        width: fit-content;
    }
}

@media (max-width: 425px) {
    #text{
        font-size: 30px;
    }
}
