<!-- hero.component.html -->
<div class="hero-container position-relative">
    <div class="overlay position-absolute top-0 end-0 bottom-0 start-0"></div>
    <div class="container position-relative d-flex justify-content-center align-items-center h-100">
      <h1 class="text-center text-white">Gallery</h1>
    </div>
  </div>


  <!-- Gallery -->
  <div class="gallery row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <div class="image" style="background-image: url('../../assets/gallery/pic7.jpg');" alt="Boat on Calm Water"></div>
      <div class="image" style="background-image: url('../../assets/gallery/pic2.jpg');" alt="Wintry Mountain Landscape"></div>
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <div class="image" style="background-image: url('../../assets/gallery/pic3.jpg');" alt="Mountains in the Clouds"></div>
      <div class="image" style="background-image: url('../../assets/gallery/pic4.jpg');" alt="Boat on Calm Water"></div>
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <div class="image" style="background-image: url('../../assets/gallery/pic6.jpg');" alt="Waves at Sea"></div>
      <div class="image" style="background-image: url('../../assets/gallery/pic5.jpg');" alt="Yosemite National Park"></div>
    </div>
</div>

  <!-- Gallery -->