/* hero.component.css */
.hero-container {
    position: relative;
    background-image: url('../../assets/gallery/pic3.jpg');
    background-size: cover;
    background-position: center;
    height: 200px; /* Adjust based on your preference */
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.5); /* Dark overlay; adjust opacity as needed */
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .container {
    z-index: 2;
  }
  
  /* Optional: If you want the title to stand out more */
  h1 {
    font-weight: bold;
  }
  
  .gallery{
    margin: 10%;
  }

  .img7{
    content: url('../../assets/gallery/pic7.jpg');
  }

  .img2{
    content: url('../../assets/gallery/pic2.jpg');
  }

  .img3{
    content: url('../../assets/gallery/pic3.jpg');
  }

  .img4{
    content: url('../../assets/gallery/pic4.jpg');
  }

  .img6{
    content: url('../../assets/gallery/pic6.jpg');
  }

  .img5{
    content: url('../../assets/gallery/pic5.jpg');
  }