<!-- hero.component.html -->
<div class="hero-container position-relative">
    <div class="overlay position-absolute top-0 end-0 bottom-0 start-0"></div>
    <div class="container position-relative d-flex justify-content-center align-items-center h-100">
      <h1 class="text-center text-white">Gallery</h1>
    </div>
  </div>


  <!-- Gallery -->
<div class="gallery row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="assets/gallery/pic7.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
  
      <img
        src="assets/gallery/pic2.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="assets/gallery/pic3.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />
  
      <img
        src="assets/gallery/pic4.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="assets/gallery/pic6.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
  
      <img
        src="assets/gallery/pic5.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />
    </div>
  </div>
  <!-- Gallery -->