<div class="socialBar">
    <div class="instagram-facebook">
        <a class="" href="#"><i class="bi bi-instagram social-logos"></i></a>
        <a class="" href="#"><i class="bi bi-facebook social-logos"></i></a>
    </div>
    <div class="email">
        <a class="emailLink" href="#">
            <i class="bi bi-envelope social-logos"></i>
            <p id="email">hitchcockshardscapes&#64;gmail.com</p>
        </a>
        <p class="split" style="color: white; height: 50%;">|</p>
        <div class="phoneNumber">
            <a class="phoneLink" href="#">
                <i class="bi bi-telephone social-logos"></i>
                <p id="phoneNumber">+1 845-709-3009 </p>
            </a>
        </div>
    </div>

</div>