<div class="socialBar">
    <div class="instagram-facebook">
        <a class="" href="#"><img class="social-logos" src="../assets/AVIF/instagramLogo.avif"></a>
        <a class="" href="#"><img class="social-logos" src="../assets/AVIF/facebook.avif"></a>
    </div>
    <div class="email">
        <a class="emailLink" href="#">
            <img class="social-logos" src="../assets/AVIF/emailLogo.avif">
            <p id="email">hitchcockshardscapes&#64;gmail.com</p>
        </a>
        <p style="color: white; height: 50%;">|</p>
        <div class="phoneNumber">
            <a class="phoneLink" href="#">
                <img class="social-logos" src="../assets/AVIF/phoneLogo.avif">
                <p id="phoneNumber">+1 845-709-3009 </p>
            </a>
        </div>
    </div>

</div>