<div class="socialBar">
    <div class="instagram-facebook">
        <a class="" target="_blank" href="https://www.facebook.com/profile.php?id=61555329823614"><i class="bi bi-facebook social-logos"></i></a>
        <a class="" target="_blank" href="https://www.facebook.com/RyeAutoDetailing"><i class="bi bi-facebook social-logos"></i></a>
        <a class="" target="_blank" href="https://g.co/kgs/SyBBKMm"><i class="social-logos fa-brands fa-google" style="color: #ffffff;"></i></a>

    </div>
    <div class="email">
        <a class="emailLink" href="mailto:ryeauto@gmail.com">
            <i class="bi bi-envelope social-logos"></i>
            <p id="email">ryeauto&#64;gmail.com</p>
        </a>
        <p class="split" style="color: white; height: 50%;">|</p>
        <div class="phoneNumber">
            <a class="phoneLink" href="tel:+16037656625">
                <i class="bi bi-telephone social-logos"></i>
                <p id="phoneNumber">(603) 765-6625</p>
            </a>
        </div>
    </div>

</div>