/* hero.component.css */
.hero-container {
    position: relative;
    background-image: url('../../assets/gallery/pic6.jpg');
    background-size: cover;
    background-position: center;
    height: 200px; /* Adjust based on your preference */
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.5); /* Dark overlay; adjust opacity as needed */
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .container {
    z-index: 2;
  }
  
  /* Optional: If you want the title to stand out more */
  h1 {
    font-weight: bold;
  }
  


  .features-container{
    margin: 100px;
  }