.card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.col-md-4 {
    width: 50%
}

.mb-5 {
    margin-bottom: 3rem !important;
    text-align: -webkit-center;
}

h1#heading {
    font-family: system-ui;
    text-align-last: center;
    padding-top: 25px;
}