.card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
}

.col-md-4 {
    width: 50%
}

.mb-5 {
    margin-bottom: 3rem !important;
    text-align: -webkit-center;
}

.carousel-control-prev {
    left: -25px !important;
}

.carousel-control-next {
    /* right: 0; */
    right: -25px !important;
}

h1#heading {
    font-family: system-ui;
    text-align: center;
    padding-top: 25px;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    margin: auto;
}

#background {
    width: 100%;
    background-image: url('../../assets/gallery/yard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px;
}

.trans-background {
    background-color: rgb(44, 46, 44, .8);
    border-radius: 25px;
}

.user-image {
    width: 80px; /* Match the width specified in your HTML */
    height: 80px; /* Make the height equal to the width to maintain a circle */
    background-size: cover; /* Ensure the image covers the div without being stretched */
    background-position: center; /* Center the image within the div */
    border-radius: 50%; /* This creates the rounded circle effect */
    background-repeat: no-repeat; /* Prevent the image from repeating */
  }
  
@media only screen and (max-width: 600px) {
    .card {
        flex-direction: column;
    }

    .col-md-4 {
        width: 100%;
    }

    h1#heading {
        font-size: 1.5em;
    }

    #background {
        padding: 50px;
    }
}
