@if (users) {
<div id="background">
    <div class="trans-background">
        <h1 id="heading">Here's what our satisfied customers are saying...</h1>
        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let group of chunkedUsers">
                <div class="container mt-5 mb-5">
                    <div class="row g-2">
                        <div class="col-md-4" *ngFor="let user of group">
                            <div class="card p-3 text-center px-4">
                                <div class="card-container">
                                    <div class="user-image">
                                        <img [src]="user.image" class="rounded-circle" width="80">
                                    </div>
                                    <div class="user-content">
                                        <h5 class="mb-0">{{ user.name }}</h5>
                                        <span>{{ user.role }}</span>
                                        <p>{{ user.description }}</p>
                                    </div>
                                    <div class="ratings">
                                        <i class="fa fa-star" *ngFor="let star of [1, 2, 3, 4, 5]"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>
}