<div class="hero-content px-4 py-5 my-5 text-center text-white">
    <h1 class="display-5 fw-bold">We Design and Build Outdoor Spaces</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Services Rockland and Surrounding Areas</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3 quotes-btn">Free Quotes</button>
        </div>
    </div>
</div>


<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <!-- <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div> -->
    <div class="carousel-inner">
        <div class="carousel-item active">

        </div>
        <div class="carousel-item">

        </div>
        <div class="carousel-item">

        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<app-contact></app-contact>
<app-testimonials></app-testimonials>