<div class="hero-content px-4 text-center text-white">
    <div class="overlay"></div>
    <h1 class="text display-5 fw-bold">Locally Owned and Operated for over 20 Years</h1>
    <div class="col-lg-6 mx-auto">
        <p class="sub-header lead mb-4">Servicing Hampton Falls since 2002</p>
        <div class="d-sm-flex justify-content-sm-center">
            <a href="tel:+16037656625">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3 quotes-btn">Call Now</button>
            </a>            
        </div>
    </div>
</div>

<app-contact></app-contact>
<app-features></app-features>
<app-testimonials></app-testimonials>
