/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/* body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
} */

.hero-content {
  position: absolute;
  z-index: 99;
  width: 100%;
}


.quotes-btn {
  background-color: #fff507;
  color: black;
  border: none;
  width: 250px;
}

.text{
  margin-top: 50px;
}


/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

/* Carousel base class */
/* .carousel {
  margin-bottom: 4rem;
} */

.carousel-inner {
  height: 550px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 500px;
  /* Adjust based on your desired carousel height */
  background-size: cover;
  background-position: center;
}

.carousel-item:nth-child(1) {
  background-image: url('../../assets/AVIF/hero-img-1.avif');
  height: 100%;
}

.carousel-item:nth-child(2) {
  background-image: url('../../assets/AVIF/hero-img-1.avif');
  height: 100%;
}

.carousel-item:nth-child(3) {
  background-image: url('../../assets/AVIF/hero-img-1.avif');
  height: 100%;
}

.carousel-control-prev {
  z-index: 100;
}

.carousel-control-next {
  z-index: 100;
}

/* Add overlay */
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(39, 39, 39, 0.6);
  /* Black with 50% transparency */
  z-index: 2;
  /* Ensure it's above the background image but below the content */
}


/* MARKETING CONTENT
  -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* rtl:end:ignore */


/* Featurettes
  ------------------------- */

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}