.hero-content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('../../assets/new_pics/boat_car_display.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(39, 39, 39, 0.6);
  z-index: 0;
}

.text {
  position: relative;
  z-index: 1;
}

.sub-header {
  position: relative;
  z-index: 1;
  font-size: 28px;
}

.quotes-btn {
  position: relative;
  z-index: 1;
  background-color: #3b6f53;
  color: white;
  border: none;
  width: 250px;
}

/* Responsive styling */
@media (min-width: 40em) {
  .text {
      font-size: 3rem;
  }
  
  .sub-header {
      font-size: 1.75rem;
  }
}

@media (min-width: 62em) {
  .text {
      font-size: 4rem;
  }
  
  .sub-header {
      font-size: 2rem;
  }
}
